* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: #494848;
}


nav {
    margin-top: 100px;
}

/* a:hover {
    text-decoration-color: red;
} */

a {
    position: relative;
    color: white;
    line-height: 60px;
    font-size: 20px;
    
}

a::before {
    position: absolute;
    background: red;
    content: "";
    top: 0px;
    width: 100%;
    height: 100%;
    transform: translateX(-120%);
    transition: 0.2s;
    /* transition-delay: 0.3s; */
    opacity: 0;
}

a:hover::before {
    transform: translateX(120%);
    opacity: 1;
}

a::after {
    position: absolute;
    background: orange;
    content: "";
    bottom: 0px;
    width: 100%;
    height: 10%;
    transform: translateX(0%);
    transition: 0.2s;
    opacity: 0;
}

a:hover::after {
    transform: translateX(-100%);
    opacity: 1;
}